# =========================
# Database
# =========================
DB_HOST=xxxx
DB_PORT=xxxx
DB_NAME=xxxx
DB_USERNAME=xxxx
DB_PASSWORD=xxxx

# =========================
# Application
# =========================
SERVER_PORT=8080
APP_FRONTEND_BASE_URL=http://localhost:5173

# =========================
# Microsoft Entra / Graph
# =========================
MICROSOFT_EXCEL_SITE_ID=xxxx
MICROSOFT_TENANT_ID=xxxx
MICROSOFT_CLIENT_SECRET=xxxx
MICROSOFT_CLIENT_ID=xxxx

# =========================
# Graph
# =========================
GRAPH_SCOPES=https://graph.microsoft.com/.default

# =========================
# Organization
# =========================
ORGANIZATION_DOMAIN=xxxx

# =========================
# LiteLLM
# =========================
LITELLM_BASE_URL=xxxxx
LITELLM_API_KEY=xxxx
LITELLM_MASTER_KEY=xxxx

# =========================
# Docker Compose 
# =========================
POSTGRES_USER=xxxx
POSTGRES_PASSWORD=xxxx
POSTGRES_DB=xxxx

# =========================
# LiteLLM
# =========================
LITELLM_DATABASE_URL=xxxx
UI_USERNAME=xxxx
UI_PASSWORD=xxxx

# =========================
# API Keys
# =========================
GROQ_API_KEY=xxxx
GROQ_API_KEY_2=xxxx
OPENROUTER_API_KEY=xxxx
NVIDIA_API_KEY=xxxx
GEMINI_API_KEY=xxxx
